<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Campground</title>
  </head>
  <body>
    <!-- _method=PUT is for method override! -->
    <form
      action="/campgrounds/<%=campground.id%>/edit?_method=PUT"
      method="POST"
    >
      <!-- name="campground[key]" allows us to store user's response in an object and send it to server as post -->
      <div>
        <label for="title"> Title: </label>
        <input
          id="title"
          type="text"
          placeholder="Campground Title"
          name="campground[title]"
          value="<%=campground.title%>"
        />
      </div>
      <div>
        <label for="location"> Location: </label>
        <input
          id="location"
          type="text"
          placeholder="Campground Location"
          name="campground[location]"
          value="<%=campground.location%>"
        />
      </div>
      <div>
        <button type="submit">Update</button>
      </div>
    </form>

    <footer>
      <a href="/campgrounds/<%=campground.id%>"> Back to Campground Details </a>
    </footer>
  </body>
</html>
