<%layout("layouts/boilerplate")%>

<form action="/campgrounds" method="POST">
  <!-- name="campground[key]" allows us to store user's response in an object and send it to server as post -->
  <div>
    <label for="title"> Title: </label>
    <input
      id="title"
      type="text"
      placeholder="Campground Title"
      name="campground[title]"
    />
  </div>
  <div>
    <label for="location"> Location: </label>
    <input
      id="location"
      type="text"
      placeholder="Campground Location"
      name="campground[location]"
    />
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<footer>
  <a href="/campgrounds"> All Campgrounds </a>
</footer>
